.upload-box {
    outline: none;
    border: 3px dashed var(--primary);
}

.rotate-90deg {
    transform: rotate(90deg);
}

.rotate-180deg {
    transform: rotate(180deg);
}

.rotate-270deg {
    transform: rotate(270deg);
}
