<app-header></app-header>

<div class="container pt-40px">
    <div class="text-center">

        <div class="col-auto col-8 offset-2 pb-3 pl-0 pr-0">
            <label class="sr-only" for="amount">Amount</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" [(ngModel)]="amount" class="form-control" id="amount"
                    placeholder="Enter Amount In Dollars">
            </div>
        </div>

        <div class="col-auto col-8 offset-2 pb-3 pl-0 pr-0">
            <label class="sr-only" for="description">Description</label>
            <div class="input-group mb-2">
                <textarea class="form-control" rows="5" [(ngModel)]="description" placeholder="Description">
                </textarea>
            </div>
        </div>

        <div class="col-auto col-8 offset-2 pb-3 pl-0 pr-0">
            <div class="input-group mb-2">
                <button type="button" class="btn btn-primary btn-block btn-block" disabled [hidden]="amount">
                    <b>
                        Donate
                    </b>
                </button>
            </div>
        </div>

        <div #paypal [hidden]="!amount || amount <= 0"></div>
    </div>
</div>